.maindashboard {
    display: flex;
    height: 100vh;
}

.admin-navbar {
    width: 200px;
}

.routes {
    flex: 1;
    margin-left: 200px; 
    padding: 20px;
    
    overflow-y: auto;

}
.nav-top{
    width: calc(100% - 200px);
    position: absolute;
    background-color: white;

    top: 0;
    right: 0;
    
}
